@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

h2 {
    text-align: center;
}
.salida {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    width: 30%;
    height: 8rem;
    margin: 1rem 35%;
    border: 1px solid #000;
}

.color-div {
    text-align: center;
}